__pycache__
asreview.egg-info
build
dist
docker
docs
env
images
tests

.coveragerc
.dockerignore
.gitattributes
.github
.gitignore
.gitmodules
.readthedocs.yaml
.vscode
.zenodo.json
app.json
asreview/webapp/node_modules
azuredeploy.json
azuredeploy.parameters.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DEVELOPMENT.md
MANIFEST.in
SECURITY.md
